<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Reddit Clone</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>
  </div>
</nav>

<main class="container">

  <div class="pull-right">
    <p><a class="btn btn-info" ng-click="$ctrl.showAddPost()">New Post</a></p>
  </div>

  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <input type="search" class="form-control input-sm search-form" placeholder="Filter" ng-model="searchTitle">
    </li>
    <div class="form-inline">
      <label for="sort">  Sort by </label>
      <select class="form-control" id="sort" ng-model="$ctrl.orderBySelected[1]">
        <option value="title">Title</option>
        <option value="author">Author</option>
      </select>
    </div>
  </ul>

  <div class="row">
    <div class="col-md-8">

      <form ng-submit="$ctrl.addPost()" ng-show="$ctrl.postForm">
        <div>
          <label for="title">Title</label>
          <input id="title" type="text" ng-model="$ctrl.post.title" class="form-control">
        </div>
        <div>
          <label for="body">Body</label>
          <textarea id="body" type="text" ng-model="$ctrl.post.body" class="form-control"></textarea>
        </div>
        <div>
          <label for="author">Author</label>
          <input id="author" type="text" ng-model="$ctrl.post.author" class="form-control">
        </div>
        <div>
          <label for="image-url">Image URL</label>
          <input id="image-url" type="text" ng-model="$ctrl.post.image_url" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Create Post
          </button>
        </div>
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12" ng-repeat="post in $ctrl.posts | orderBy : $ctrl.orderBySelected | filter : {title: searchTitle}">

      <div class="well">
        <div class="media-left">
          <img class="media-object" src="{{post.image_url}}" width="400px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            {{ post.title }}
            |
            <a href="" ng-click="$ctrl.upVote($event, post)"><i class="glyphicon glyphicon-arrow-up"></i></a>
            <a href="" ng-click="$ctrl.downVote($event, post)"><i class="glyphicon glyphicon-arrow-down"></i></a>
            {{post.vote_count}}
          </h4>
          <div class="text-right">
            {{post.author}}
          </div>
          <p>
            {{post.body}}
          </p>
          <div>
            {{ post.created_at | date: 'medium' }}
            |
            <i class="glyphicon glyphicon-comment"></i>
            <a href="" ng-click="$ctrl.showComments(post)">
              {{ post.comments.length }} Comments
            </a>
            |
            <a ui-sref="edit({id: post.id})">Edit Post</a>
            <div ng-show="post.showComment">
              <ul>
                <li ng-repeat="comment in post.comments">{{ comment.content }}</li>
              </ul>
            </div>
          </div>
          <div class="row" ng-show="post.showComment">
            <div class="col-md-offset-1">
              <hr>
              <p>
                Comment text
              </p>
              <form ng-submit="$ctrl.addComment($event, post, comment)" onSubmit="this.reset()" class="form-inline">
                <div class="form-group">
                  <input ng-model="comment" class="form-control comment-text">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary comment-button">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
